<style>
    h1 {
        background-color: #009036;
        color: #ffed00;
        font-family:'Segoe UI';
        font-weight: bold; 
    }
</style>
<font face="Calibri">
    <h1>BATCHES</h1>

    <table style="width:100%">
        <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
            <th>fruitname</th>
            <th>month</th>
            <th>amount</th>
            <th>storage_date</th>
            <th>region</th>
            <th>ripiness</th>
        </tr>
        <tr>
            <td>Ananas</td>
            <td>3</td>
            <td>50</td>
            <td>123</td>
            <td>Grieskirchen</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>3</td>
            <td>50</td>
            <td>123</td>
            <td>Grieskirchen</td>
            <td>1</td>
        </tr>
    </table> <br />

    <hr />


    <h4>Add new Branch:</h4>
    <table style="width:36%">
        <tr>
            <td>fruit_name:</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>month:</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>amount:</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>storage_date:</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>region:</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>ripeness:</td>
            <td><input type="text" id="name"></td>
        </tr>
    </table>
    <br />
    <button id="addBatch" onclick="addBatchClicked" style="width:26%">Add Batch</button>

    


</font>
