    <div id="header">
        LAGERHAUS
    </div>
    <div id="body">
        <table style="width:100%" id="tblBatches">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>fruitname</th>
                <th>year</th>
                <th>month</th>
                <th>amount</th>
                <th>storage_date</th>
                <th>region</th>
                <th>ripiness</th>
            </tr>
        </table> <br />

        <hr />

    <div class="two-col">
        <div class="col1">
            <h4>Add new Batch:</h4>
            <table style="width:45%">
                <tr>
                    <td>fruit name:</td>
                    <td>
                        <select id="selectFruitName"></select>
                    </td>
                </tr>
                <tr>
                    <td>year:</td>
                    <td><input type="number" id="txtYear"></td>
                </tr>
                <tr>
                    <td>month:</td>
                    <td><input type="number" id="txtMonth"></td>
                </tr>
                <tr>
                    <td>amount:</td>
                    <td><input type="number" id="txtAmount"></td>
                </tr>
                <tr>
                    <td>storage date:</td>
                    <td><input type="text" id="txtStorageDate" placeholder="31.01.2019"></td>
                </tr>
                <tr>
                    <td>region:</td>
                    <td>
                        <select id="selectRegion"> </select>
                    </td>
                </tr>
                <tr>
                    <td>ripeness:</td>
                    <td><input type="text" id="txtRipeness" placeholder="Grade A"></td>
                </tr>
                <tr>
                    <td id="txtStatus"></td>
                </tr>
            </table>
            <br />
            <button id="btnAddBatch" style="width:26%">Add Batch</button>
        </div>
        <div class="col2">
            <h4>Add new Fruit:</h4>
            <table style="width:36%">
                <tr>
                    <td>fruit name:</td>
                    <td><input type="text" id="txtFruitName"/></td>
                </tr>
                <tr>
                    <td>ripeness:</td>
                    <td><input type="text" id="txtRipeness" placeholder="Grade A"/></td>
                </tr>
                <tr>
                    <td id="txtStatus"></td>
                </tr>
            </table>
            <br />
            <button id="btnAddBatch" style="width:26%">Add Batch</button>
        </div>
    </div>
</div>