<div id="header">
    LAGERHAUS
</div>

<div id="body">
    <div class="tab">
        <button id="btnBatches">Batches</button>
        <button id="btnFruits">Fruits</button>
        <button id="btnRegions">Regions</button>
        <button id="btnWeather">Weather</button>
    </div>

    <!-- Tab content -->
    <div id="Batches" class="tabcontent">
        <table style="width:100%" id="tblBatches">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>fruitname</th>
                <th>year</th>
                <th>month</th>
                <th>amount</th>
                <th>storage_date</th>
                <th>region</th>
                <th>ripiness</th>
            </tr>
        </table>

        <h4>Add new Batch:</h4>
        <table style="width:36%">
            <tr>
                <td>fruit_name:</td>
                <td>
                    <select id="selectFruitName_batch"></select>
                </td>
            </tr>
            <tr>
                <td>year:</td>
                <td><input id="txtYear_batch"></td>
            </tr>
            <tr>
                <td>month:</td>
                <td><input id="txtMonth_batch"></td>
            </tr>
            <tr>
                <td>amount:</td>
                <td><input id="txtAmount_batch"></td>
            </tr>
            <tr>
                <td>storage_date:</td>
                <td><input type="text" id="txtStorageDate_batch"></td>
            </tr>
            <tr>
                <td>region:</td>
                <td>
                    <select id="selectRegion_batch"> </select>
                </td>
            </tr>
            <tr>
                <td>ripeness:</td>
                <td><input type="text" id="txtRipeness_batch"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddBatch" style="width:26%">Add Batch</button>
    </div>

    <div id="Fruits" class="tabcontent">
        <table style="width:100%" id="tblFruits">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Fruitname</th>
                <th>Ripeness Grade</th>
                <th>Minimum Storage Span</th>
            </tr>
        </table>

        <h4>Add new Fruit:</h4>
        <table style="width:45%">
            <tr>
                <td>fruit name:</td>
                <td><input type="text" id="txtFruitName_fruit" /></td>
            </tr>
            <tr>
                <td>ripeness name:</td>
                <td><input type="text" id="txtRipenessName_fruit" /></td>
            </tr>
            <tr>
                <td>minimum storage:</td>
                <td><input id="txtMinimumStorage_fruit" /></td>
            </tr>
        </table>
        <br />
        <button id="btnAddFruit" style="width:26%">Add Fruit</button>
    </div>

    <div id="Regions" class="tabcontent">
        <table style="width:100%" id="tblRegions">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Name</th>
                <th>Area</th>
                <th>Level</th>
            </tr>
        </table>

        <h4>Add new Region:</h4>
        <table style="width:45%">
            <tr>
                <td>region name:</td>
                <td><input type="text" id="txtRegionName_region" /></td>
            </tr>
            <tr>
                <td>area:</td>
                <td><input type="text" id="txtArea_region"></td>
            </tr>
            <tr>
                <td>level:</td>
                <td><input id="txtLevel_region"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddRegion" style="width:26%">Add Region</button>
    </div>

    <div id="Weather" class="tabcontent">

        <table>
            <tr>
                <td>
                    Year:
                    <input type="number" id="txtWeatherYear" placeholder="2019" />
                </td>
                <td>
                    Month:
                    <input type="number" id="txtWeatherMonth" placeholder="6" />
                </td>
                <td>
                    <button id="btnWeatherLoad">Load Weather</button>
                </td>
            </tr>
        </table>


        <table style="width:100%" id="tblWeather">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Year</th>
                <th>Month</th>
                <th>Region</th>
                <th>Rainy Days</th>
                <th>Sunny Days</th>
            </tr>
        </table>

        <h4>Add new Weather:</h4>
        <table style="width:45%">
            <tr>
                <td>year:</td>
                <td><input type="text" id="txtYear_weather" /></td>
            </tr>
            <tr>
                <td>month:</td>
                <td><input type="text" id="txtMonth_weather"></td>
            </tr>
            <tr>
                <td>region:</td>
                <td>
                    <select id="selectedRegion_weather"></select>
                </td>
            </tr>
            <tr>
                <td>rainy days:</td>
                <td><input type="text" id="txtRainyDays_weather"></td>
            </tr>
            <tr>
                <td>sunny days:</td>
                <td><input type="text" id="txtSunnyDays_weather"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddWeather" style="width:26%">Add Weather</button>
    </div>
</div>