<div id="header">
    LAGERHAUS
</div>
<div id="body">
    <table style="width:100%" id="tblBatches">
        <tr id="columnNames" style="border-bottom:solid; border-color:#009036" >
            <th>Fruitname</th>
            <th>Year</th>
            <th>Month</th>
            <th>Amount</th>
            <th>Storage Date</th>
            <th>Region</th>
            <th>Ripeness</th>
        </tr>
    </table> <br />

    <hr />

    <h4>Add new Batch:</h4>
    <table style="width:36%">
        <tr>
            <td>Fruitname:</td>
            <td>
                <select id="selectFruitName"></select>
            </td>
        </tr>
        <tr>
            <td>Year:</td>
            <td><input type="number" id="txtYear"></td>
        </tr>
        <tr>
            <td>Month:</td>
            <td><input type="number" id="txtMonth"></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="number" id="txtAmount"></td>
        </tr>
        <tr>
            <td>Storage Date:</td>
            <td><input type="text" id="txtStorageDate" placeholder="2019/06/12"></td>
        </tr>
        <tr>
            <td>Region:</td>
            <td>
                <select id="selectRegion"> </select>
            </td>
        </tr>
        <tr>
            <td>Ripeness:</td>
            <td><input type="text" id="txtRipeness"></td>
        </tr>
        <tr>
            <td id="txtStatus"></td>
        </tr>
    </table>
    <br />
    <button id="btnAddBatch" style="width:26%">Add Batch</button>
</div>
