<div id="header">
    LAGERHAUS
</div>

<div id="body">
    <div class="tab">
        <button id="btnBatches">Batches</button>
        <button id="btnFruits">Fruits</button>
        <button id="btnRegions">Regions</button>
        <button id="btnWeather">Weather</button>
    </div>

    <!-- Tab content -->
    <div id="Batches" class="tabcontent">
        <table style="width:100%" id="tblBatches">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>fruitname</th>
                <th>year</th>
                <th>month</th>
                <th>amount</th>
                <th>storage_date</th>
                <th>region</th>
                <th>ripiness</th>
            </tr>
        </table>

        <h4>Add new Batch:</h4>
        <table style="width:45%">
            <tr>
                <td>fruit name:</td>
                <td>
                    <select id="selectFruitName_batch"></select>
                </td>
            </tr>
            <tr>
                <td>year:</td>
                <td><input type="number" id="txtYear_batch"></td>
            </tr>
            <tr>
                <td>month:</td>
                <td><input type="number" id="txtMonth_batch"></td>
            </tr>
            <tr>
                <td>amount:</td>
                <td><input type="number" id="txtAmount_batch"></td>
            </tr>
            <tr>
                <td>storage date:</td>
                <td><input type="text" id="txtStorageDate_batch" placeholder="31.01.2019"></td>
            </tr>
            <tr>
                <td>region:</td>
                <td>
                    <select id="selectRegion_batch"> </select>
                </td>
            </tr>
            <tr>
                <td>ripeness:</td>
                <td><input type="text" id="txtRipeness_batch" placeholder="Grade A"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddBatch" style="width:26%">Add Batch</button>
    </div>

    <div id="Fruits" class="tabcontent">
        <h4>Add new Fruit:</h4>
        <table style="width:45%">
            <tr>
                <td>fruit name:</td>
                <td><input type="text" id="fruitName_fruit"/></td>
            </tr>
            <tr>
                <td>ripeness:</td>
                <td><input type="text" id="txtRipeness_fruit" placeholder="Grade A"/></td>
            </tr>
        </table>
        <br />
        <button id="btnAddFruit" style="width:26%">Add Fruit</button>
    </div>

    <div id="Regions" class="tabcontent">
        <h4>Add new Region:</h4>
        <table style="width:45%">
            <tr>
                <td>fruit name:</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>ripeness:</td>
                <td><input type="text" id="txtRipeness" placeholder="Grade A"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddRegion" style="width:26%">Add Region</button>
    </div>

    <div id="Weather" class="tabcontent">
        <h4>Add new Weather:</h4>
        <table style="width:45%">
            <tr>
                <td>fruit name:</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>ripeness:</td>
                <td><input type="text" id="txtRipeness" placeholder="Grade A"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddWeather" style="width:26%">Add Weather</button>
    </div>

    <br />

    <hr />

    
</div>