<div id="header">
    STOREHOUSE
</div>

<div id="body">
    <div class="tab">
        <button id="btnBatches">Batches</button>
        <button id="btnFruits">Fruits</button>
        <button id="btnRegions">Regions</button>
        <button id="btnWeather">Weather</button>
    </div>

    <!-- Tab content -->
    <div id="Batches" class="tabcontent">
        <table style="width:100%" id="tblBatches">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Fruit Name</th>
                <th>Year</th>
                <th>Month</th>
                <th>Amount</th>
                <th>Storage Date</th>
                <th>Region</th>
                <th>Ripiness</th>
            </tr>
            <tbody id="tblBatchesBody">
            </tbody>
        </table>
        <hr id="hrGreen"/>
        <h4>Add new Batch:</h4>
        <table>
            <tbody>
                <tr>
                    <td><output class="tdLeft">fruit_name:</output></td>
                    <td>
                        <select id="selectFruitName_batch" class="tdRight"></select>
                    </td>
                </tr>
                <tr>
                    <td><output class="tdLeft">year:</output></td>
                    <td><input id="txtYear_batch" class="tdRight"></td>
                </tr>
                <tr>
                    <td><output class="tdLeft">month:</output></td>
                    <td><input id="txtMonth_batch" class="tdRight"></td>
                </tr>
                <tr>
                    <td><output class="tdLeft">amount:</output></td>
                    <td><input id="txtAmount_batch" class="tdRight"></td>
                </tr>
                <tr>
                    <td><output class="tdLeft">storage_date:</output></td>
                    <td><input type="text" id="txtStorageDate_batch" class="tdRight"></td>
                </tr>
                <tr>
                    <td><output class="tdLeft">region:</output></td>
                    <td>
                        <select id="selectRegion_batch" class="tdRight"> </select>
                    </td>
                </tr>
                <tr>
                    <td><output class="tdLeft">ripeness:</output></td>
                    <td><input type="text" id="txtRipeness_batch" class="tdRight"></td>
                </tr>
            </tbody>
        </table>
        <br />
        <button id="btnAddBatch" class="btnAdd">Add Batch</button>
    </div>

    <div id="Fruits" class="tabcontent">
        <table style="width:100%" id="tblFruits">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Fruitname</th>
                <th>Ripeness Grade</th>
                <th>Minimum Storage Span</th>
            </tr>
            <tbody id="tblFruitsBody"></tbody>
        </table>
                <hr id="hrGreen"/>

        <h4>Add new Fruit:</h4>
        <table>
            <tr>
                <td><output class="tdLeft">fruit name:</output></td>
                <td><input type="text" id="txtFruitName_fruit" class="tdRight"/></td>
            </tr>
            <tr>
                <td><output class="tdLeft">ripeness name:</output></td>
                <td><input type="text" id="txtRipenessName_fruit" class="tdRight"/></td>
            </tr>
            <tr>
                <td><output class="tdLeft">minimum storage:</output></td>
                <td><input id="txtMinimumStorage_fruit" class="tdRight"/></td>
            </tr>
        </table>
        <br />
        <button id="btnAddFruit" class="btnAdd">Add Fruit</button>
    </div>

    <div id="Regions" class="tabcontent">
        <table style="width:100%" id="tblRegions">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Name</th>
                <th>Area</th>
                <th>Level</th>
            </tr>
            <tbody id="tblRegionsBody"></tbody>
        </table>
        <hr id="hrGreen" />

        <h4>Add new Region:</h4>
        <table>
            <tr>
                <td><output class="tdLeft">region name:</output></td>
                <td><input type="text" id="txtRegionName_region" class="tdRight" /></td>
            </tr>
            <tr>
                <td><output class="tdLeft">area:</output></td>
                <td><input type="text" id="txtArea_region" class="tdRight"></td>
            </tr>
            <tr>
                <td><output class="tdLeft">level:</output></td>
                <td><input id="txtLevel_region" class="tdRight"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddRegion" class="btnAdd">Add Region</button>
    </div>

    <div id="Weather" class="tabcontent">

        <table>
            <tr>
                <td>
                    Year:
                    <input type="number" id="txtWeatherYear" placeholder="2019" />
                </td>
                <td>
                    Month:
                    <input type="number" id="txtWeatherMonth" placeholder="6" />
                </td>
                <td>
                    <button id="btnWeatherLoad">Load Weather</button>
                </td>
            </tr>
        </table>


        <table style="width:100%" id="tblWeather">
            <tr id="columnNames" style="border-bottom:solid; border-color:#009036">
                <th>Year</th>
                <th>Month</th>
                <th>Region</th>
                <th>Rainy Days</th>
                <th>Sunny Days</th>
            </tr>
            <tbody id="tblWeatherBody"></tbody>
        </table>
        <hr id="hrGreen" />

        <h4>Add new Weather:</h4>
        <table>
            <tr>
                <td><output class="tdLeft">year:</output></td>
                <td><input type="text" id="txtYear_weather" class="tdRight" /></td>
            </tr>
            <tr>
                <td><output class="tdLeft">month:</output></td>
                <td><input type="text" id="txtMonth_weather" class="tdRight"></td>
            </tr>
            <tr>
                <td><output class="tdLeft">region:</output></td>
                <td>
                    <select id="selectRegion_weather" class="tdRight"></select>
                </td>
            </tr>
            <tr>
                <td><output class="tdLeft">rainy days:</output></td>
                <td><input type="text" id="txtRainyDays_weather" class="tdRight"></td>
            </tr>
            <tr>
                <td><output class="tdLeft">sunny days:</output></td>
                <td><input type="text" id="txtSunnyDays_weather" class="tdRight"></td>
            </tr>
        </table>
        <br />
        <button id="btnAddWeather" class="btnAdd">Add Weather</button>
    </div>
</div>